@model (IEnumerable<Money>, decimal, decimal);

@{
    ViewData["Title"] = "หน้าแรก";
    decimal weekly_used = Model.Item2;
    decimal left_used = Model.Item3;
    decimal left = weekly_used;
    DateTime? before = null;
}

<div class="text-center my-4">
    <h1 class="" style="color: mediumslateblue">บันทึกรายรับ-รายจ่าย</h1>
    <a class="btn btn-success mx-1" asp-controller="Money" asp-action="Create">เพิ่มรายการ</a>
    <a class="btn btn-info mx-1" onclick="return confirm('ต้องการจัดเก็บข้อมูลหรือไม่?')" asp-controller="Money" asp-action="TransferData">จัดเก็บ</a>
    <a class="btn btn-danger mx-1" asp-controller="Money" asp-action="Clear" onclick="return confirm('ต้องการลบรายการทั้งหมดจริงหรือไม่!!?!') && confirm('ชัวร์นะ??')">ลบรายการทั้งหมด!!</a>
</div>

@if (Model.Item1.Count() == 0)
{
    <div class="alert alert-secondary">ไม่มีรายการรายรับ-รายจ่าย</div>
}
else
{
    <strong class="text-success">จำนวนที่ใช้ได้ : @weekly_used , 
        @if (left_used > 0)
        {
            <span class="text-success">จำนวนคงเหลือ : @left_used</span>
        }
        else
        {
            <span class="text-danger">จำนวนคงเหลือ : @left_used</span>
        }
    </strong>
    <table class="table">
        <thead>
            <tr>
                <th>วันที่</th>
                <th>จำนวนเงิน</th>
                <th>บันทึกช่วยจำ</th>
                <th>ยอดคงเหลือ</th>
                <th>แก้ไข</th>
                <th>ลบ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var money in Model.Item1)
            {
                <tr>
                    @{
                        var money_date = money.Date.Date;
                        if (money_date == before)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@money_date.ToString("dd/MM/yyyy")</td>
                            before = money_date;
                        }
                    }
                    <td>@money.Amount</td>
                    <td>@money.Label</td>
                    @{
                        left -= money.Amount;
                    }
                    <td>
                        @if (left > 0)
                        {
                            <p class="text-success">@left</p>
                        }
                        else
                        {
                            <p class="text-danger">@left</p>
                        }
                    </td>
                    <td>
                        <a class="btn btn-warning"
                           asp-controller="Money"
                           asp-action="Edit"
                           asp-route-id="@money.Id">แก้ไข</a>
                    </td>
                    <td>
                        <a class="btn btn-danger"
                           asp-controller="Money"
                           asp-action="Delete"
                           asp-route-id="@money.Id"
                           onclick="return confirm('ต้องการลบรายการ @money.Label จำนวน @money.Amount บาท ของวันที่ @money.Date หรือไม่ ?')">ลบ</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}