@model (IEnumerable<Transaction>, string, string, string, string, string, decimal);

@{
    ViewData["Title"] = "หน้าแรก";
    var before = DateTime.Now;
    var transactionList = Model.Item1;
    var startDate = Model.Item2;
    var endDate = Model.Item3;
    var label = Model.Item4;
    var orderBy = Model.Item5;
    var orderType = Model.Item6;
    var sum_price = Model.Item7;
}

<div class="text-center my-4">
    <h1 class="" style="color: mediumslateblue">ประวัติรายรับ-ร่ายจ่ายทั้งหมดของวันที่ @startDate ถึงวันที่ @endDate รายการชื่อ @label</h1>
    <h3 class="" style="color: mediumslateblue">เรียงจาก @orderBy แบบ @orderType</h3>
    <a class="btn btn-primary mx-1" asp-controller="Transaction" asp-action="Index">กลับหน้าประวัติ</a>
    <a class="btn btn-secondary mx-1" asp-controller="Transaction" asp-action="Filter">แก้ไข filter</a>
    @* <a class="btn btn-secondary mx-1" href='javascript:history.go(-1)'>แก้ไข filter</a> *@
</div>

@if (Model.Item1.Count() == 0)
{
    <div class="alert alert-secondary">ไม่มีรายการรายรับ-รายจ่าย</div>
}
else
{
    <strong class="text-success">ราคารวม : @sum_price บาท</strong>
    <table class="table">
        <thead>
            <tr>
                <th>วันที่</th>
                <th>จำนวนเงิน</th>
                <th>บันทึกช่วยจำ</th>
                <th>แก้ไข</th>
                <th>ลบ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in transactionList)
            {
                <tr>
                    @{
                        var transaction_date = transaction.Date.Date;
                        if (transaction_date == before)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@transaction_date.ToString("dd/MM/yyyy")</td>
                            before = transaction_date;
                        }
                    }
                    <td>@transaction.Amount</td>
                    <td>@transaction.Label</td>
                    <td>
                        <a class="btn btn-warning"
                           asp-controller="Transaction"
                           asp-action="Edit"
                           asp-route-id="@transaction.Id">แก้ไข</a>
                    </td>
                    <td>
                        <a class="btn btn-danger"
                           asp-controller="Transaction"
                           asp-action="Delete"
                           asp-route-id="@transaction.Id"
                           onclick="return confirm('ต้องการลบรายการ @transaction.Label จำนวน @transaction.Amount บาท ของวันที่ @transaction.Date หรือไม่ ?')">ลบ</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}