@model (IEnumerable<Transaction>, decimal);

@{
    ViewData["Title"] = "หน้าแรก";

    var transactionList = Model.Item1;
    var sum_price = Model.Item2;

    var before = DateTime.Now;
}

<div class="text-center my-4">
    <h1 class="" style="color: mediumslateblue">ประวัติรายรับ-ร่ายจ่ายทั้งหมด</h1>
    <a class="btn btn-success mx-1" asp-controller="Transaction" asp-action="Create">เพิ่มรายการ</a>
    <a class="btn btn-danger mx-1" asp-controller="Transaction" asp-action="Clear" onclick="return confirm('ต้องการลบรายการทั้งหมดจริงหรือไม่!!?!') && confirm('ชัวร์นะ??')">ลบรายการทั้งหมด!!</a>
    <a class="btn btn-secondary mx-1" asp-controller="Transaction" asp-action="Filter">Filter</a>
</div>

@if (transactionList.Count() == 0)
{
    <div class="alert alert-secondary">ไม่มีรายการรายรับ-รายจ่าย</div>
}
else
{
    <div class="table-header-text">
        <input type="checkbox" class="form-check-input" id="showSumCheckbox" />
        <label class="form-check-label" for="showSumCheckbox">แสดงรายจ่ายรวม</label>
        <strong id="sumPrice" class="text-success" style="display: none;">รายจ่ายรวม : @sum_price บาท</strong>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>วันที่</th>
                <th>จำนวนเงิน</th>
                <th>บันทึกช่วยจำ</th>
                <th>แก้ไข</th>
                <th>ลบ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in transactionList)
            {
                <tr>
                    @{
                        var transaction_date = transaction.Date.Date;
                        if (transaction_date == before)
                        {
                                    <td></td>
                        }
                        else
                        {
                                    <td>@transaction_date.ToString("dd/MM/yyyy")</td>
                            before = transaction_date;
                        }
                    }
                    <td>@transaction.Amount</td>
                    <td>@transaction.Label</td>
                    <td>
                        <a class="btn btn-warning"
                           asp-controller="Transaction"
                           asp-action="Edit"
                           asp-route-id="@transaction.Id">แก้ไข</a>
                    </td>
                    <td>
                        <a class="btn btn-danger"
                           asp-controller="Transaction"
                           asp-action="Delete"
                           asp-route-id="@transaction.Id"
                           onclick="return confirm('ต้องการลบรายการ @transaction.Label จำนวน @transaction.Amount บาท ของวันที่ @transaction.Date หรือไม่ ?')">ลบ</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    <script type="text/javascript">
        document.getElementById("showSumCheckbox").addEventListener('change', () => {
            var showSumCheckbox = document.getElementById("showSumCheckbox");
            var sumPrice = document.getElementById("sumPrice");

            if (showSumCheckbox.checked) {
                sumPrice.style.display = "block";
            } else {
                sumPrice.style.display = "none";
            }
        })
    </script>
}